body {
    font: normal medium/1.4 sans-serif;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  thead tr{
    background-color: rgb(77, 126, 5);
  }
  tr:hover {background-color: rgb(185, 204, 192);
  }
  tbody tr:nth-child(odd) {
    background: #eee;
}